import(DESeq2)
import(ggplot2)
import(BiocParallel)

importFrom(parallel, "mclapply")
importFrom(Rsamtools, "BamFile", "BamFileList", "ScanBamParam")

export("splitByRepName", "countRepeats", "rmskStats")


